@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    width: 98vw;
    background-color: black;
    background: url(../pacote-d013/imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
}

main{
    position: relative;
    height: 100vh;
}

section#telefone{
    position: absolute;
    width: 311px;
    height: 627px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../pacote-d013/imagens/frame-iphone.png) no-repeat;
}

iframe#tela{
    position: relative;
    top: 79px;
    left: 21px;
    width: 265px;
    height:469px

}

section.sociais {
    text-align: right;
}

section.sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-sizing: border-box;
}

section.sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.507);
    transform: translate(-3px, -4px);
    box-shadow: 4px 4px 10px;
    transition: transform 0.4s border 1s;
}

img#home{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.664);
}

img#insta{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.664);
}

img#git{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.664);
}

img#twitter{
    box-shadow: 3px 3px 1px rgba(3, 8, 14, 0.664);
}